body {
  margin: 0;
  background: #FFD700;
  color: #00BFFF;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.title {
  padding-top: 16px;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  line-height: 1;
}

h3 {
  font-style: italic;
}

h4 {
  font-family: 'Caveat', cursive;
  margin: 0;
}

p {
  font-family: 'Indie Flower', cursive;
  line-height: 1;
}
